@model GuestInventory

@{
    ViewData["Title"] = "Home Page";
}

<div id="entryPanel">
    <form asp-controller="Home" asp-action="SubmitEntry_Controller">
        <input id="fname" type="text" asp-for="user_FName" class="form-control" />
        <input id="lname" type="text" asp-for="user_LName" class="form-control" />
        <input id="userEntry" type="text" asp-for="user_Entry" class="form-control" />
        <input id="userDate" type="text" asp-for="user_DateEntry" class="form-control" />
        
        <input id="entryBtn" type="submit" text ="Submit Entry" class="btn btn-success"/>
    </form>
</div>

<div id="displayData">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Back to Top</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Entry</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.mainGuestList.Count(); i++) {
                        <tr>
                            <td><a>To Top</a></td>
                            <td>@Model.mainGuestList[i].firstName</td>
                            <td>@Model.mainGuestList[i].lastName</td>
                            <td>@Model.mainGuestList[i].entry</td>
                            <td>@Model.mainGuestList[i].date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>